/**
* different cursor graphics
*/

/* default cursor */
.rpgui-cursor-default,
.rpgui-content *
{
    cursor: url("img/cursor/default.png"), auto;
}

/* pointer / hand cursor */
.rpgui-cursor-point,
.rpgui-content a,
.rpgui-content button,
.rpgui-content button *
{
    cursor: url("img/cursor/point.png") 10 0, auto !important;
}

/* for input / text selection */
.rpgui-cursor-select,
.rpgui-content input,
.rpgui-content textarea
{
    cursor: url("img/cursor/select.png") 10 0, auto;
}